* {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #333;
}

.clear-fix {
    clear: both;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}

.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #ccc;
}

.title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 80px;
    height: 5px;
    background: #F9B500;
    z-index: 1;
}

.article-title {
    padding-top: 20px;
}

.article-title a {
    font-size: 20px;
    font-weight: 700;
}

.info-bar {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.info-bar li {
    display: inline-block;
    margin-right: 20px;
    line-height: 25px;
}

.text-muted {
    color: #888;
}

.text-yellow {
    color: #F9B500;
}

a {
    text-decoration: none;
    transition: all .2s;
}

b {
    font-weight: 700;
    transition: all .2s;
}

a:hover {
    color: #F9B500;
}

a:hover>b {
    color: #F9B500;
}

.app {
    width: 1200px;
}

@media (max-width:1199.98px) {
    .app {
        width: 992px;
    }
}

@media (max-width:991.98px) {
    .app {
        width: 768px;
    }
}

@media (max-width:767.98px) {
    .app {
        width: 576px;
    }
}

@media (max-width:575.98px) {
    .app {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
}

.header-logo {
    float: left;
    margin: 30px 0;
}

.header-menu {
    float: right;
}

.header-menu-item {
    display: inline;
}

.header-menu-item-link {
    padding: 0 15px;
    line-height: 80px;
    font-weight: 700;
    color: #333 !important;
}

.header-menu-burger {
    float: right;
    display: none;
    background-color: white;
    border: none;
    line-height: 80px;
}

.show {
    display: inline-block !important;
}

@media (max-width:991.98px) {
    .header-logo {
        height: 15px;
        margin: 32px 0;
    }

    .header-menu-item-link {
        padding: 0 5px;
    }
}

@media (max-width:767.98px) {
    .header-menu-burger {
        display: inline-block;
    }

    .header-menu {
        display: none;
        width: 100%;
    }

    .header-menu-item {
        display: block;
        border-bottom: 1px solid #cecece;
    }
}

.intro-row {
    width: 100%;
}

.intro-h-600px {
    height: 600px;
}

.intro-h-100 {
    height: 100%;
}

.intro-h-2-3 {
    height: calc(200%/3);
}

.intro-h-1-3 {
    height: calc(100%/3);
}

.intro-h-50:first-of-type {
    margin-bottom: 10px
}

.intro-h-50 {
    height: calc(50% - 5px);
}

.intro-2-3-col {
    float: left;
    margin-right: 10px;
    width: calc(calc(200%/3) - 10px);
}

.intro-1-3-col {
    float: right;
    width: calc(100%/3);
}

.intro-1-3-item {
    width: 100%;
}

.intro-1-3-col-item {
    float: left;
    width: calc(100%/3);
}

.intro-1-3-col-item:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/3) - 20px);
}

.bg-1 {
    background: url("../images/slider-1-1200x900.jpg") no-repeat center;
    background-size: cover;
}

.bg-2 {
    background: url("../images/slider-2-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-3 {
    background: url("../images/slider-3-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-4 {
    background: url("../images/slider-4-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-5 {
    background: url("../images/slider-5-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-6 {
    background: url("../images/slider-6-450x600.jpg") no-repeat center;
    background-size: cover;
}

.intro-item-caption {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 10;
}

.caption-title {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.caption-title span {
    font-size: 25px;
    font-weight: 800;
    color: #ffffff;
}

.caption-title b {
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
}

.caption-info-bar {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 0;
}

.caption-info-bar li {
    /* position: initial; */
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
}

.img-bg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.mr-10x {
    margin-right: 10px;
}

.ml-10x {
    margin-left: 10px;
}

.mt-10x {
    margin-top: 10px;
}

.mb-10x {
    margin-bottom: 10px;
}

@media (max-width:767.98px) {
    .intro-2-3-col {
        width: 100%;
        float: none;
        margin-right: 0px;
    }

    .intro-1-3-col {
        width: 100%;
    }

    .intro-1-3-col-item {
        float: none;
        width: 100%;
    }

    .intro-1-3-col-item:nth-of-type(2) {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }



    .intro-h-600px {
        height: auto;
    }

    .intro-h-100 {
        height: auto;
    }

    .intro-h-50 {
        height: auto;
    }

    .intro-h-2-3 {
        height: auto;
    }

    .intro-h-1-3 {
        height: auto;
    }

    .h-md-300px {
        height: 300px;
        margin-bottom: 10px;
    }
}

/* container */

.container {
    width: 100%;
    margin-top: 50px;
}

.main {
    float: left;
    width: calc(calc(200%/3) - 25px);
    margin-right: 25px;
}

.main-news {
    margin-bottom: 20px;
}

.main-news-img {
    width: 100%;
}

.main-news-w-50 {
    width: calc(50% - 25px);
    float: left;
    margin-right: 25px;
}

.main-news-w-50:last-of-type {
    margin-right: 0;
}

.sidebar {
    float: right;
    width: calc(calc(100%/3) - 25px);
    margin-left: 25px;
}

.sidebar-item {
    width: 100%;
    margin-bottom: 40px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list>li {
    padding: 15px 0;
    background-color: #F9B500 !important;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

.popular-post {
    width: 100%;
    margin-bottom: 20px;
}

.popular-post-img {
    width: 100px;
    height: 100px;
    float: left;
}

.popular-post-title {
    float: right;
    width: calc(100% - 120px);
    margin-left: 20px;
}

.popular-post-title h3 a b {
    font-size: 18px;
}

.subscribe-form {
    margin-top: 20px;
    border: none;
}

.subscribe-form-text {
    padding: 13px 58px 13px 13px;
    float: left;
    border: 2px solid #F9B500;
    width: calc(100% - 73px);
}

.subscribe-form-text:focus {
    outline-color: #F9B500;
}

.subscribe-form button {
    float: right;
    width: 45px;
    height: 42px;
    margin-top: -44px;
    margin-right: 1px;
    border: none;
    text-align: center;
    background-color: #F9B500;
}

.subscribe-form button:hover {
    background-color: #333;
    color: #ffffff;
}


@media (max-width:991.98px) {
    .main {
        width: 100%;
        float: none;
    }

    .sidebar {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
}

@media (max-width:575.98px) {
    .main-news-w-50 {
        width: 100%;
        float: none;
    }
}


/* footer */

.footer {
    background-color: rgb(25, 25, 25);
}

.footer-row {
    width: 100%;
    background-color: rgba(25, 25, 25, 0.9);
}

.bg-map {
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-position: center;
}

.footer-col {
    width: calc(calc(100%/3) - 30px);
    float: left;
    margin-right: 30px;
}

.footer-logo {
    float: left;
    margin: 28px 0;
}

.footer p {
    color: #cecece;
    line-height: 28px;
    font-size: 16px;
}

.footer-p-padding-20px {
    padding: 20px 0;
}

.footer-section-title {
    color: #F9B500;
    padding: 30px 0;
}

.footer-section-link-item {
    margin-bottom: 20px;
}

.footer-line {
    background-color: #767373;
    height: 1px;
    margin-bottom: 20px;
}


.footer-section-link-item a {
    color: #cecece;
    font-size: 14px;
}

.footer-section-link-item a:hover {
    color: #F9B500;
}

.footer-section-link-item p {
    color: #cecece;
    font-size: 14px;
    padding-top: 15px;
}
.footer-menu{
    float: left;
    list-style: none;
    width: 50%;
    padding: 0;
}

.footer-menu li{
    display: inline-block;
    margin: 0 20px;

}

.footer-menu li a{
    color: #cecece;
    font-size: 12px;
}

.footer-menu li a:hover{
    color: #F9B500;
}

.footer-sotial-network{
    float: right;
    list-style: none;
    text-align: right;
    padding: 0;
    width: 50%;
}

.footer-sotial-network li{
   display: inline-block;
   margin: 0 0 20px 20px;
}

.footer-sotial-network li a i{
   color: #cecece;
 }

 .footer-sotial-network li a i:hover{
    color: #F9B500;
 }

 @media (max-width:575.98px) {
    .footer-col{
        float: none;
        padding: 15px;
        width:calc(100% - 30px);
        margin-right: 0;
    }
    .footer-menu{
        float: none;
        width: 100%;
        text-align: center;
    }

    .footer-menu li{
        padding: 10px;
    }

    .footer-sotial-network{
        float: none;
        width: 100%;
        text-align: center;
    }
 }