@import url(font-awesome.min.css);
/* فونت خارجی */

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
/* فونت خارجی */

* {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica;
}

a {
  text-decoration: none;
  /* color: #1b1919; */
  color: #fff;
}

/* h1,h2{
  font-family: Helvetica;
} */
.header h1 {
  float: left;
}

.header {
  background-image: 
  /* url("../img/dark_tint.png"), */ url("../img/abstract-blue-background-with-many-small-details-generative-ai.jpg");
  /* background-color: #1b1919; */
  background-position: center center;
  background-size: cover;
}

.top-menu {
  /* width: 100%; */
  /* height: 100vh; */
  padding: 40px;
}

.nav {
  text-align: right;
}

.nav ul li {
  display: inline;
  padding: 0px 15px;
}

.nav ul li a {
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.nav ul li a:hover {
  color: dodgerblue;
}

.btn {
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 15px;
  /* font-size: 1.3vw; */
  font-size: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-family: "Raleway";
}

.btn-white {
  background-color: #fff;
  color: #444 !important;
}

.btn-size {
  font-size: 1.5vw !important;
}

.btn-blue {
  background-color: 3cadd3;
  color: #fff !important;
  padding: 13px 10px;
}

.btn-dark {
  background-color: black;
  color: #fff !important;
  padding: 13px 10px;
}
.banner-content {
  text-align: center;
  padding: 130px 20px;
  color: #444;
}
.banner-content h2 {
  /* font-size: 5vw; */
  font-size: 50px;
  line-height: 150px;
}

.banner-content p {
  font-size: 2.5vw;
  margin-bottom: 15px;
}

/* main */

.sercives {
  background-color: rgba(184, 182, 182, 0.333);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 100px 0px;
  text-align: center;
}

.sercives-header {
  margin-bottom: 50px;
}

.sercives-header h2 {
  font-size: 40px;
  color: #474747;
  margin-bottom: 15px;
}

.sercives-header p {
  font-size: 20px;
  color: #858585;
}

.icon:before {
  font-family: FontAwesome;
  font-style: normal;
}

.color-blue {
  background-color: blue;
  color: #ffffff;
}

.color-green {
  background-color: green;
  color: #ffffff;
}

.color-red {
  background-color: red;
  color: #ffffff;
}

.big {
  font-size: 40px;
  padding: 35px 50px;
}

.rounded {
  border-radius: 100%;
}

.sercives-content > * {
  float: left;
}
/* اون فلش و استار یعنی هر آنچه داخل اون کلاس هست  */

.box {
  background-color: #fff;
  border: solid 1px #dddddd;
  border-radius: 4px;
  width: calc(calc(100% / 3) - 82px);
  padding: 70px 30px;
  margin: 0px 10px;
}
/* برای عرض و پهنا محاسبه داشته تو در تو چون باید پدینگ و مارجین و بوردر رو از چپ و راست در نظر گرفت و ازش کم کرد */

.sercives-content:after,
.sercives-content:before {
  content: "";
  display: block;
  clear: both;
}
/* بالا علت اینه که ما فلوت کردیم شناور شد برای حا مشگل همون تگ مربوطه رو قبل وبعدشو با اون سه پراپرتی حلش میکنیم */

.box h4 {
  color: #444;
  font-size: 20px;
  margin: 60px 0 30px 0;
}

.box p {
  line-height: 20px;
}

.sercives-content {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 856px) {
  .box {
    width: 100%;
    margin: 10px 0;
    padding: 50px 0;
  }
}

/* about */

.about {
  text-align: center;
  padding: 100px 0px;
  /* left:center; */
}

.about-header h2 {
  font-size: 40px;
  color: #474747;
  margin-bottom: 15px;
}

.about-header p {
  font-size: 20px;
  color: #858585;
}

/* .about-content {
   border: 2px solid ghostwhite; 
  border-block: 1px solid ghostwhite;
  width: 80%;
  margin: 0 auto;
} */

.about-content {
  border-block: 1px solid ghostwhite;
  width: 90%;
  margin: 60px auto;
  padding-block: 60px;
}

.about-content > * {
  float: left;
}

.about-content:after,
.about-content:before {
  content: "";
  display: block;
  clear: both;
}

.profile {
  width: 20%;
  margin: 0px 30px;
}
.profile h4 {
  /* padding: 30px 20px; */
  /* background-color: chartreuse; */
  /* margin: 0 20px; */
  /* float: left; */
  margin-top: 20px;
}

.profile img {
  padding: 30px;
  border-radius: 50%;
  float: left;
  background-color: #858585;
  /* margin-left: 20%; */
  /* color: #ffffff; */
  /* font-size: 30px; */
}

.profile img {
  line-height: 25px;
}

.about-footer {
  margin: 0 auto;
  width: 65%;
}

.about-footer p {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 25px;
}

/* contact */

.contact {
  background-color: #3cadd3;
  color: #ffffff;
  padding: 100px 0;
}

.contact-header {
  text-align: center;
  margin-bottom:80px;
}

.contact-header h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 20px;
}

.contact-content {
  text-align: center;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  color: #444;
  border: none;
  border-radius: 4px;
  padding: 15px 10px;
  width: 25%;
}

textarea {
  background-color: #fff;
  color: #444;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  width: 50%;
  margin-top: 20px;
  height: 200px;
}

.contact-content button{
  margin-top: 20px;
}

::placeholder{
  color: #90BEFF;
  font-size: 15px;
  font-family: 'Raleway';
}

.footer{
  background-color: #444;
  padding: 100px 0;
}

.copy-right li{
 color: #858585;
 display:inline;
 font-size: 15px;
 margin: 0 5px;
}

.copy-right li{
  color: #858585;
}